<launch>
  <!-- HRP-2KAI model -->
  <arg name="model" value="$(find hrp2_drc_description)/urdf/hrp2drc.urdf"/>
  <param name="robot_description" textfile="$(arg model)" />

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lipm_walking_controller)/etc/display.rviz"/>

  <!-- Call with `bag:=true` to log a ROS bag -->
  <arg name="bag" default="false" />
  <group if="$(arg bag)">
    <node name="bag" pkg="rosbag" type="record" args="-o lipm_walking_controller --all" />
  </group>
</launch>
